Source: com.github.jedihe.workday
Section: video
Priority: extra
Maintainer: John Herreño <jedihe@gmail.com>
Build-Depends: meson,
               debhelper,
               libgranite-7-dev,
               libgtk-4-dev,
               libgstreamer1.0-dev,
               valac
Standards-Version: 3.9.3

Package: com.github.jedihe.workday
Architecture: any
Depends: ffmpeg, gstreamer1.0-plugins-ugly, gstreamer1.0-libav, gstreamer1.0-plugins-good, ${misc:Depends}, ${shlibs:Depends}
Description: Record a timelapse of your workday.
 @TODO
