Source: com.github.jedihe.workday
Section: x11
Priority: extra
Maintainer: John Herreño <jedihe@gmail.com>
Build-Depends: meson,
               debhelper,
               libgranite-dev,
               libgtk-3-dev,
               libx11-dev,
               libgstreamer1.0-dev,
               libclutter-gst-3.0-dev,
               libclutter-gtk-1.0-dev,
               valac
Standards-Version: 3.9.3

Package: com.github.jedihe.workday
Architecture: any
Depends: ffmpeg, gstreamer1.0-plugins-ugly, gstreamer1.0-libav, gstreamer1.0-plugins-good, ${misc:Depends}, ${shlibs:Depends}
Description: Record a timelapse of your workday.
 @TODO
